@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap");

/* global styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f1e21;
}

ul {
  padding: 0;
  list-style: none;
}

.layout-margin {
  margin: 0 10%;
  position: relative;
}

i {
  font-size: 18px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

footer li,
footer p {
  text-align: center;
}

footer li {
  padding: 15px;
}

footer {
  border-top: solid 1px #65d3eb;
}

h1,
h2,
h2 a {
  color: #65d3eb;
  text-decoration: none;
  font-family: "Avenir Black";
  font-size: 40px;
}

a,
p {
  color: white;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.top_nav ul a i {
  color: #65d3eb;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  font-size: 20px;
}

.btn {
  color: black;
  background-color: #65d3eb;
  text-decoration: none;
  font-family: "avenir black";
  padding: 6px 20px;
  border-radius: 44px;
  box-shadow: inset 1px 1px 1px;
}

.btn:hover {
  color: white;
  background-color: #348b9e;
  text-decoration: none;
}

.social-media-icons i {
  color: #65d3eb;
  font-size: 50px;
  padding: 50px 0px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

.social-media-icons li {
  margin: 0px 10px;
}

.scroll-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.burger-menu {
  display: none;
  justify-self: flex-start;
  color: #65d3eb;
}

.top_nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.top_nav ul li {
  justify-self: flex-end;
}

.top_nav .search-form {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 535px;
}

.top_nav .search {
  height: 35px;
  appearance: none;
  border: none;
  width: 100%;
  padding: 0 12px;
  border-radius: 3px 0 0 3px;
}

.search-btn i {
  color: black;
  display: grid;
  place-items: center;
  margin-top: 8px;
}

.search-btn:hover {
  text-decoration: none;
}

.search-btn {
  appearance: none;
  border: none;
  background-color: #65d3eb;
  width: 40px;
  height: 35px;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
}

.cart span:hover {
  border-bottom: solid 1px white;
}

.cart span {
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

.cart i {
  color: #65d3eb;
}

.bottom_nav {
  background-color: #1c3a40;
  border-bottom: solid 1px #65d3eb;
  padding: 18px 0;
}

.bottom_nav ul {
  display: flex;
  justify-content: center;
}

.bottom_nav li {
  margin-right: 60px;
}

.bottom_nav li:last-of-type {
  margin-right: 0;
}

.logo {
  width: 200px;
  object-fit: cover;
  margin: 12px;
}

.top_nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.top_nav .search-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 535px;
}

.top_nav .search {
  height: 35px;
  appearance: none;
  border: none;
  width: 100%;
  padding: 0 12px;
  border-radius: 3px 0 0 3px;
}

.search-form a {
  color: black;
}

.bottom_nav {
  background-color: #1c3a40;
  border-bottom: solid 1px #65d3eb;
  padding: 18px 0;
}

.bottom_nav ul {
  display: flex;
  justify-content: center;
}

.bottom_nav li {
  margin-right: 60px;
}

.bottom_nav li:last-of-type {
  margin-right: 0;
}

/* favourite pop-up */

.favorites:hover {
  cursor: pointer;
}

.overlay {
  background-color: #0f1e21;
  background: rgba(1, 1, 1, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  top: -1000%;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.favorite-pop-up {
  padding: 30px;
  background-color: #1c3a40;
  border: solid 1px #65d3eb;
  position: fixed;
  z-index: 999;
  top: -1000%;
}

.button-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 300px;
}

.show-overlay {
  top: 0%;
}

.show-pop-up {
  top: 20%;
}

/* index */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pexels-lucie-liz-3165335.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: grid;
  place-items: center;
}

.hero-content {
  width: 800px;
}

.hero-content h1 {
  margin-bottom: 21px;
}

.hero-content h2 {
  color: white;
  font-family: "helvetica neue";
  font-size: 30px;
}

.hero-content p {
  margin: 21px 0;
}

.products-container {
  background-color: #1c3a40;
  padding: 60px;
  margin: 100px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  margin-top: 30px;
}

.product-card {
  display: grid;
  gap: 16px;
}

.inner-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inner-grid i {
  font-size: 40px;
  color: #348b9e;
}

.inner-grid .liked {
  color: #65d3eb;
}

.btnaddcart {
  width: fit-content;
}

.advertising-section {
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.twocol h2 {
  margin-bottom: 21px;
  margin: 21px;
}

.twocol p {
  margin: 21px;
}

.twocol .btn {
  margin: 21px;
}

.twocol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

#ad-section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pexels-jens-mahnke-776092.jpg");
}

#ad-section2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pexels-jeshootscom-442576.jpg");
}

/* Contact page */

.contact-content-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  margin-top: 100px;
  gap: 40px;
  margin-bottom: 100px;
}

.contact-container {
  background-color: #1c3a40;
  padding: 60px;
  width: fit-content;
}

.contact-info {
  font-size: 20px;
  color: #65d3eb;
}

.contact-info span {
  margin-left: 24px;
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
}

.contact-list li {
  display: flex;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  width: fit-content;
}

.contact-info {
  padding-right: 100px;
}

.contact-info li {
  margin-top: 26px;
}

.social-media-icons {
  padding: 100px 0px 0px 0px;
}

.game-hub-info {
  width: fit-content;
}

.game-hub-info li {
  margin-top: 26px;
}

.social-media {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  justify-content: left;
}

.contact-form-container {
  background-color: #1c3a40;
  width: fit-content;
  padding: 60px;
}

.form-message {
  background-color: #0f1e21;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: solid 1px #65d3eb;
}

.error-container {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 0;
  width: 300px;
}

small {
  color: #fcb6b6;
}

.error-container-message {
  position: absolute;
  z-index: 2;
  top: 220px;
  left: 0;
  width: 400px;
}

.form-control {
  margin-top: 40px;
}

.form-control label {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.form-control input {
  height: 25px;
  width: 95%;
}

textarea {
  resize: none;
}

#message {
  width: 95%;
}

#submit-button {
  margin-top: 50px;
  border: none;
  font-size: 20px;
}

.contact-ad-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.contact-ad-grid {
  height: 100%;

  display: flex;
  margin: 0 auto;
  width: fit-content;
  gap: 40px;
}

.contact-ad {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  width: 536px;
}

.contact-ad .btn {
  margin-top: 140px;
}

#contact-ad1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pexels-lucie-liz-3165335.jpg");
}

#contact-ad2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/pexels-jeshootscom-442576.jpg");
}

/* order confirmed page */

.confirm-container {
  background-color: #1c3a40;
  padding: 51px;
  text-align: center;
  position: fixed;
  justify-content: center;
  border-bottom: 1px solid #65d3eb;
  top: 40%;
  z-index: 999;
  box-shadow: 10px 10px 220px 19px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: rgba(0, 0, 0, 0.44);
  -moz-box-shadow: rgba(0, 0, 0, 0.44);
}

.confirm-container h2 {
  font-size: 30px;
  color: #fff;
}

/* shopping-cart page */

.exit {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  background: none;
}

.exit i {
  font-size: 25px;
  color: #65d3eb;
}

.shopping-container {
  display: flex;
  position: relative;
}

.cart-container {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 300px;
  top: 0%;
  right: -10000%;
  z-index: 999;
  transition: right 0.7s ease;
  box-shadow: 10px 10px 220px 19px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: rgba(0, 0, 0, 0.44);
  -moz-box-shadow: rgba(0, 0, 0, 0.44);
}

.show {
  right: 0%;
}

.btncheckout {
  display: flex;
  margin-top: 40px;
  width: fit-content;
}

.payment-options p {
  margin-top: 50px;
  font-size: 14px;
}

.payment-options ul {
  display: flex;
  margin-top: 5px;
}

.payment-options li {
  margin-right: 20px;
}

.payment-options i {
  color: #65d3eb;
  font-size: 30px;
}

/* search page */

.search-breadcrumbs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  margin-top: 20px;
}

.search-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.search-info h1 {
  font-family: "Helvetica Neue";
  font-size: 30px;
  color: #fff;
}

.search-sorting {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-sorting select {
  background-color: #0f1e21;
  color: #fff;
}

.search-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  margin-top: 30px;
}

.search-card {
  display: grid;
  background-color: #1c3a40;
  padding: 40px;
}

.search-inner-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-inner-grid i {
  font-size: 40px;
  color: #348b9e;
}

.search-card img {
  max-height: 203px;
  margin-bottom: 10px;
}

.search-card .btnaddcart {
  margin-top: 15px;
}

.number-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.number-btn i {
  color: #348b9e;
  font-size: 30px;
}

.number-btn-active {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #348b9e;
  color: #fff;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  font-family: "avenir black";
}

.number-btn-inactive {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #65d3eb;
  color: black;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  font-family: "avenir black";
}

.results-number {
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
}

.results-number select {
  background-color: #0f1e21;
  color: #fff;
}

/* account page */

.game-hub-info2 li {
  margin-top: 26px;
}

.sign-out {
  margin-top: 150px;
}

.sign-out i {
  color: #65d3eb;
}

/* game-title page */

.flexbox-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.flexbox-container a {
  display: flex;
  margin-top: 30px;
  width: fit-content;
}

.flexbox-item {
  width: fit-content;
}

.flexbox-item-2 {
  max-width: 33%;
}

.flexbox-item-2 h2 {
  color: #fff;
  font-size: 30px;
}

.flexbox-item-3 h3 {
  color: #fff;
  font-size: 40px;
  font-family: "avenir black";
}

.flexbox-item-3 h4 {
  color: #fff;
  font-size: 30px;
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.flexbox-item-3 {
  width: 250px;
}

.price-flex {
  display: flex;
  justify-content: space-between;
}

.flexbox-item-3 i {
  color: #348b9e;
  font-size: 40px;
}

.game-photo {
  max-height: 512px;
  max-width: 400px;
}

.product-photos {
  width: 400px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.product-photos i {
  height: 64px;
  width: 64px;
  color: #65d3eb;
  text-align: center;
  padding-top: 16px;
  font-size: 30px;
  border: 2px solid #348b9e;
}

.product-photos img:first-of-type {
  border: 2px solid #65d3eb;
}

.product-photos img {
  height: 62px;
  width: 62px;
  border: 2px solid #348b9e;
}

/* Create account page */

.account-grid {
  background-color: #1c3a40;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
}

.account-gh-logo {
  display: flex;
  height: 187px;
  margin-top: 20px;
  margin-left: 40px;
}

.account-flex {
  display: flex;
  justify-content: center;
}

.account-container {
  padding: 30px;
  background-color: #0f1e21;
  max-width: 874px;
  margin: 20px 0px 100px;
}

.account-form {
  display: grid;
}

.account-form label {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
  margin-top: 30px;
}

.account-form input {
  height: 25px;
}

#password2 {
  margin-bottom: 30px;
}

.account-container p {
  margin-top: 30px;
}
/* 
checkout 1 page */

.checkout-progress1 {
  display: flex;
  justify-content: center;
}

.checkout-progress1 a {
  margin: 20px 50px;
}

.checkout-progress2 {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto 70px auto;
}

.checkout-progress2::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #65d3eb;
  width: 70%;
  top: 50%;
  z-index: -1;
}

.active-number {
  height: 40px;
  width: 40px;
  background-color: #348b9e;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  margin: 0px 80px;
}

.inactive-number {
  height: 30px;
  width: 30px;
  background-color: #65d3eb;
  color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 5px 80px;
}

.checkout-grid {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.checkout-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  max-width: 800px;
  gap: 40px;
  grid-column: 1;
}

.checkout-container label {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
}

.checkout-container input {
  width: 300px;
  margin-bottom: 20px;
  height: 25px;
}

.checkout-container h1 {
  grid-column: 1 / span 2;
}

.checkout-info1 {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
}

.checkout-info2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
}

.checkout-your-order h2 {
  margin-bottom: 40px;
}

.order-container {
  background-color: #1c3a40;
  padding: 30px;
}

.ordered-items {
  display: grid;
  column-gap: 20px;
  margin-bottom: 20px;
}

.item-price {
  grid-column: 2;
}

.order-icons {
  grid-column: 2;
}

.order-icons i {
  color: #65d3eb;
  margin-right: 10px;
}

.shipping-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0f1e21;
  padding-top: 10px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0f1e21;
  padding-bottom: 30px;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-form label {
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 20px;
}

.order-form input {
  margin-bottom: 30px;
  width: 260px;
}

.order-form select {
  margin-bottom: 30px;
  width: 260px;
}

.order-container img {
  max-height: 109px;
  grid-column: 1;
  grid-row: 1 / span 2;
}

/* checkout2 page */

.payment-container {
  background-color: #1c3a40;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  width: 750px;
  margin: 30px auto 70px auto;
}

.payment-container input {
  margin-bottom: 20px;
}

.payment-container label {
  color: #fff;
  font-size: 20px;
  font-family: "Helvetica Neue";
}

.payment-container i {
  color: #65d3eb;
  font-size: 25px;
  margin-left: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-grid a {
  margin-top: 20px;
}

.payment-method input {
  margin-right: 10px;
}

.payment-name {
  display: flex;
  flex-direction: column;
  grid-row: 2;
}

.payment-name input {
  width: 300px;
}

.payment-card {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2;
}

#card-number {
  width: 300px;
}

.payment {
  grid-column: 1;
  width: fit-content;
}

.card-flex {
  display: grid;
}

.card-flex input {
  grid-row: 2;
}

.card-flex input {
  width: 100px;
}

@media (max-width: 1500px) {
  /* contact page */

  .contact-info {
    padding-right: 50px;
  }

  /* search page */

  .add-cart {
    font-size: 14px;
  }
}

@media (max-width: 1250px) {
  /* global style phone */
  h1,
  h2,
  h2 a {
    color: #65d3eb;
    text-decoration: none;
    font-family: "Avenir Black";
    font-size: 20px;
  }

  a,
  p {
    color: white;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
  }

  .continue {
    font-size: 13px;
  }

  .home-img {
    display: block;
    justify-self: center;
    object-fit: cover;
    grid-column: 2;
  }

  .home-img .logo {
    margin: 0;
  }

  .logo img {
    width: 100px;
  }

  .top_nav {
    background-color: #1c3a40;
    box-shadow: 1px 10px 22px -9px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 1px 10px 22px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 1px 10px 22px -9px rgba(0, 0, 0, 0.44);
  }
  .burger-menu {
    display: block;
    z-index: 999;
  }

  .top_nav ul {
    grid-column: 3;
  }

  .search-form {
    grid-column: 1 / span 3;
    grid-row: 2;
    width: 100%;
    margin-bottom: 28px;
  }

  .top_nav li span {
    display: none;
  }

  .bottom_nav {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transform: translateX(-2000px);
    transition: all 0.5s ease-in-out;
  }

  .menu-show {
    transform: translateX(0);
  }

  .top_nav i {
    font-size: 18;
  }

  .bottom_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .bottom_nav li {
    margin-bottom: 12px;
  }

  .bottom_nav a {
    font-size: 32px;
  }

  footer {
    border-top: none;
  }

  .social-media-icons i {
    font-size: 27px;
  }
  /* shopping cart */

  .cart-container {
    width: fit-content;
  }

  /* index phone */

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .btnaddcart {
    width: fit-content;
  }

  .add-cart {
    font-size: 13px;
  }

  .inner-grid i {
    font-size: 30px;
  }

  .hero {
    height: 300px;
  }

  .hero-content {
    width: 300px;
    padding: 20px;
  }

  .hero-content h1 {
    margin-bottom: 21px;
  }

  .hero-content h2 {
    color: white;
    font-family: "helvetica neue";
    font-size: 18px;
  }

  .products-container {
    margin-top: 30px;
  }

  .advertising-section {
    height: 210px;
  }

  /* search page phone */

  .search-breadcrumbs ul {
    width: 160px;
    margin-left: 10px;
  }

  .search-main {
    margin-top: 20px;
    background-color: #1c3a40;
    padding: 20px 0px 30px;
  }

  .search-grid {
    max-width: fit-content;
    margin: 0 auto;
  }

  .search-info select {
    width: 54px;
    background-color: #1c3a40;
    margin-right: 10px;
  }

  .search-info h1 {
    font-size: 20px;
    color: #65d3eb;
    margin-left: 10px;
  }

  .search-sorting {
    gap: 10px;
  }

  .search-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
  }

  .search-card {
    background-color: transparent;
    padding: 30px;
  }

  .search-card i {
    font-size: 20px;
  }

  #number-of-results {
    margin-right: 10px;
  }

  /* phone contact page */

  .contact-content-container {
    margin-top: 20px;
  }

  .contact-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
  }

  .contact-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-info {
    place-self: center;
    padding-right: 0%;
    grid-row: 1;
  }

  .contact-info span {
    font-size: 13px;
  }

  .game-hub-info {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    grid-row: 3;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    place-self: center;
    grid-row: 2;
  }

  .social-media-icons i {
    padding: 0%;
    font-size: 30px;
  }

  .contact-form-container {
    padding: 30px;
  }

  #form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .form-control label {
    font-size: 16px;
  }

  #submit-button {
    width: fit-content;
  }

  .error-container {
    width: 200px;
  }

  small {
    font-size: 12px;
  }

  .error-container-message {
    top: 200px;
    width: fit-content;
  }

  .contact-ad-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .contact-ad {
    width: 340px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .number-btn a {
    font-size: 20px;
  }

  /* game-title phone */

  .game-photo img {
    width: 300px;
  }

  .flexbox-item {
    margin-right: 30px;
  }

  .flexbox-item-3 {
    margin-right: 0px;
  }

  .product-photos img {
    width: 60px;
    height: 60px;
  }

  .product-photos {
    width: 300px;
    margin-top: 20px;
  }

  .product-photos i {
    height: 60px;
    width: 60px;
    font-size: 30px;
    padding-top: 12px;
  }

  .flexbox-item-2 h2 {
    font-size: 18px;
  }

  .flexbox-item-3 h3 {
    font-size: 18px;
  }

  .flexbox-item-3 h4 {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .flexbox-item-3 i {
    font-size: 30px;
  }

  /* checkout1 */

  .checkout-container {
    display: flex;
    flex-direction: column;
  }

  .checkout-grid {
    gap: 30px;
  }

  /* checkout2 page */

  .payment-container {
    width: fit-content;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
  }

  /* create account page phone */

  .account-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .account-container {
    background-color: #1c3a40;
    margin: 0 auto;
  }

  .account-form label {
    font-size: 16px;
  }

  .account-form input {
    max-width: fit-content;
  }

  .account-gh-logo {
    display: none;
  }

  /* account page phone */

  .account-list {
    margin-bottom: 40px;
    width: 320px;
  }

  /* order confirm page phone */

  .confirm-container {
    padding: 20px;
    left: 0%;
    top: 22.4%;
    width: 100%;
  }

  .confirm-container h2 {
    font-size: 16px;
  }

  /* shopping-cart page phone */

  .cart-container {
    background-color: #0f1e21;
  }

  .show {
    right: 0%;
  }
}

@media (max-width: 900px) {
  /* index page  */

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .twocol {
    grid-template-columns: 1fr;
    row-gap: 64px;
  }

  /* game-title phone  */
  .flexbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .flexbox-item {
    width: fit-content;
    margin: 0px auto;
  }

  .flexbox-item-2 {
    max-width: fit-content;
  }

  .flexbox-item-2 h2 {
    font-size: 14px;
  }

  .flexbox-item-3 {
    width: fit-content;
    margin: 20px 0px;
  }

  .flexbox-item-3 h3 {
    font-size: 12px;
  }

  .flexbox-item-3 h4 {
    font-size: 14px;
  }

  .flexbox-item-3 i {
    font-size: 20px;
  }

  .game-photo {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }

  .game-photo img {
    width: 171px;
  }

  .product-photos img {
    width: 40px;
    height: 40px;
  }

  .product-photos {
    width: 200px;
    margin: 20px;
  }

  .product-photos i {
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding-top: 10px;
  }

  /* search page */

  .search-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }

  .search-card {
    width: fit-content;
    padding: 20px;
  }

  .add-cart {
    width: fit-content;
  }

  /* checkout1 */

  .checkout-progress1 {
    margin-top: 0px;
  }

  .checkout-progress1 a {
    margin: 20px 15px;
  }

  .checkout-progress2::after {
    width: 70%;
  }

  .active-number {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 0px 40px;
  }

  .inactive-number {
    height: 20px;
    width: 20px;
    margin: 5px 40px;
  }

  .checkout-container input {
    width: fit-content;
  }

  #shipping {
    width: 200px;
  }

  .order-form input {
    width: 200px;
  }

  /* contact page */

  .contact-container {
    margin-bottom: 20px;
  }

  .contact-content-container {
    margin-top: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    gap: 0;
  }

  .contact-ad-grid {
    display: flex;
    flex-direction: column;
  }

  /* account page  */

  .account-list {
    width: fit-content;
  }
}
@media (max-width: 565px) {
  /* smaller items for small phones */

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home-img {
    max-width: 150px;
    margin: 0 auto;
  }

  .btnaddcart {
    font-size: 12px;
    padding: 7px 10px;
    color: black;
  }

  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  /* checkout1 page phone */

  .checkout-container {
    margin: 0 auto;
  }

  .checkout-container label {
    font-size: 16px;
  }

  .checkout-container input {
    width: fit-content;
  }

  .checkout-container select {
    max-width: 190px;
  }

  .checkout-grid {
    display: flex;
    flex-direction: column;
  }

  #countries {
    width: 300px;
  }

  .checkout-info2 {
    display: flex;
    grid-row: 3;
    grid-column: 1;
  }

  .order-container {
    background-color: #0f1e21;
  }

  .order-container label {
    font-size: 16px;
  }

  .order-container input {
    width: fit-content;
  }

  .order-container select {
    max-width: 190px;
  }

  .shipping-price {
    border-top: 1px solid #65d3eb;
  }

  .total-price {
    border-bottom: 1px solid #65d3eb;
  }

  /* checkout2 page phone */

  .checkout-h1 {
    margin: 0 auto;
    width: 230px;
  }

  .form-grid {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .payment-container {
    background-color: #0f1e21;
    padding: 0px;
    max-width: 100%;
  }

  .payment-method {
    width: 230px;
  }

  .payment-container label {
    font-size: 16px;
  }

  .payment-container input {
    width: fit-content;
  }

  .payment-container i {
    font-size: 15px;
    margin-left: 10px;
  }

  .payment-card {
    grid-column: 1;
    grid-row: 3;
  }

  .payment-card input {
    width: 80px;
  }

  #card-number {
    max-width: fit-content;
  }

  /* contact page */

  .contact-ad {
    width: 260px;
  }
}
